* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: #f2f5f9;

    color: #222;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;
}

.container {
    width: 100%;

    max-width: 700px;
}

.weather-card {
    background: white;

    padding: 35px;

    border-radius: 18px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;

    font-size: 34px;

    margin-bottom: 8px;
}

.subtitle {
    text-align: center;

    color: #777;

    margin-bottom: 25px;
}


/* Search */

#searchForm {
    display: flex;

    gap: 10px;

    margin-bottom: 25px;
}

#cityInput {
    flex: 1;

    padding: 14px;

    font-size: 16px;

    border: 1px solid #ccc;

    border-radius: 8px;

    outline: none;
}

#cityInput:focus {
    border-color: #1769aa;
}

#searchForm button {
    padding: 14px 22px;

    border: none;

    border-radius: 8px;

    background: #1769aa;

    color: white;

    font-weight: bold;

    cursor: pointer;
}

#searchForm button:hover {
    background: #0d527f;
}


/* Loading */

.loading {
    text-align: center;

    color: #1769aa;

    display: none;

    margin: 15px;
}


/* Error */

.error {
    text-align: center;

    color: #c62828;

    background: #ffebee;

    padding: 10px;

    border-radius: 8px;

    margin-bottom: 15px;

    display: none;
}


/* Weather */

.weather-result {
    text-align: center;

    padding-top: 10px;
}

.weather-result h2 {
    font-size: 30px;

    margin-bottom: 5px;
}

#date {
    color: #777;

    margin-bottom: 15px;
}

.temperature {
    font-size: 60px;

    font-weight: bold;

    margin: 10px 0;
}

#condition {
    font-size: 20px;

    margin-bottom: 25px;
}


/* Weather Details */

.weather-details {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 15px;
}

.detail {
    background: #f5f7fa;

    padding: 20px;

    border-radius: 12px;
}

.detail span {
    font-size: 25px;
}

.detail p {
    color: #777;

    margin: 7px 0;
}

.detail strong {
    font-size: 18px;
}


/* Mobile */

@media (max-width: 600px) {

    .weather-card {
        padding: 22px;
    }

    h1 {
        font-size: 28px;
    }

    #searchForm {
        flex-direction: column;
    }

    #searchForm button {
        width: 100%;
    }

    .weather-details {
        grid-template-columns: 1fr;
    }

    .temperature {
        font-size: 50px;
    }
}